<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
	<link rel="stylesheet" href="styles/base.css" type="text/css" />
	<!-- Resources -->
	<script src="resources/core/dist/base.js"></script>
	<script src="resources/core/dist/core.js"></script>
</head>

<body onload="requireWidget(document, 'scripts/index')" ng-controller="MainCtrl as mainCtrl" class="lp-ng-widget">
	<h2 ng-bind="mainCtrl.hello"></h2>
	<div lp-component-sample="{'key':'val'}" ng-model="mainCtrl.hello"></div>
</body>
</html>
